body {
  margin: 0;

  /* background-image: url('C:\Users\maria\OneDrive\Desktop\amazon\frontend\bak.jpg'); */
  /* background-repeat: repeat; */
  background-color: #f5f5f5;
  /* background-size: cover; */
}
/*1 rem=16px */

#heading {
  /* background-color: #ffffff; */
  /* width: 400px; */
  font-size: xx-large;
  padding: 0.55rem;
  margin-bottom: 1rem;
}
.site-container {
  min-height: 100vh;
}
main {
  /*to occupy whole screen */
  flex: 1;
  padding: 1rem;
}
.btn-primary {
  background-color: #f0c040;
  color: black;
}
.products {
  display: flex;
  /*if no space, new items will be pushed to new line */
  flex-wrap: wrap;

  justify-content: center;
}

/* Set the desired height for the card */
.card {
  width: 249px;
}
/* Set the height of the card's content */
/*.card-body {
  width: 100%;
  overflow: hidden;
}


/* If you want to adjust margins as well, you can do the following: */
/* .mb-3 {
  margin: 10px; /* Adjust the margin as needed */

.product {
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  /* background-color: white; */
  /* background-image: url('C:\Users\maria\OneDrive\Desktop\amazon\frontend\inp.jpg'); */
  border: 1px #404040 solid;
  margin: 2rem;
  padding: 0.65rem;

  background-color: white;
}

.rating span {
  color: #ffc000;
}
.card-img-top {
  padding: 0.55rem;
  width: 100%;
  /* max-width: 305px;
  max-height: 235px; */
}
.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 100%;
}
